body {
    background-color: #C4DEA8;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration-line: none;
}

a:hover{
    text-decoration-line: underline;
}

#navbar {
    /**texte**/
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 50px;
    font-size: 25px;
    font-family: "Pinecone_MVB";
    
    /**navbar**/
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #465FAF;
    height: 110px;
    z-index: 10;
}

#BottomBarTextSoutenir{
    position: absolute;
    top: 2350px;
    left: 13%;
}

#TextBottomBarRejoindre{
    position: absolute;
    top: 2350px;
    left: 47%;
}

#TextBottomBarEvent{
    position: absolute;
    top: 2350px;
    left: 77%;
}

#logo {
    position: absolute;
    left: 10px;
    height: 100px;
}

@font-face {
    font-family: "Pinecone_MVB";
    src: url(Pinecone_MVB.otf);
}

.rubicollect img{
    width: 100%;
    height: 700px;
    display: block;
}

.causes img{
    width: 100%;
    display: block;
}

.text_event{
    text-align: left;
    margin-left: 4%;
    max-width: 1000px;
    position: relative;
}

.events{
    display: flex;
    justify-content: center;
    gap: 300px;
}

.events img{
    width: 20%;
    height: 20%;
    border-radius: 50px;
}

.BottomBar{
    position: relative;
}

.BottomBar img{
    width: 100%;
    display: block;
}

.BottomBarContact{
    position: absolute;
    left: 41%;
    top: 15%;
    transform: translate(-50%, -50%);
    color: white;
}

.BottomBarContact2 {
    position: absolute;
    left: 41%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: white;
}

.BottomBarContact3 {
    position: absolute;
    left: 41.5%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

.BottomBarContact4 {
    position: absolute;
    left: 49%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

h1{
    font-family: "Pinecone_MVB";
    color: white;
}

p{
    font-family: "Pinecone_MVB";
    color: white;
}

#expli_rubicollect{
    max-width: 800px;
    margin: 0 auto;    
    padding: 20px;     
    text-align: left;    
}

.agir{
    text-align: left;
    margin-left: 25%;
    max-width: 1000px;
    position: relative;
}

.agir img{
    text-align: center;
    width: 1200px;
    height: 400px;
    border-radius: 50px;
}

.text_agir{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


button{
    background-color: #C4DEA8;
    font-family: "Pinecone_MVB";
    color: #465FAF;
}
