body {
    background-color: #C4DEA8;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration-line: none;
}

a:hover{
    text-decoration-line: underline;
}

#navbar {
    /**texte**/
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 50px;
    font-size: 25px;
    font-family: "Pinecone_MVB";
    
    /**navbar**/
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #465FAF;
    height: 110px;
    z-index: 10;
}

#BottomBar{
    overflow: hidden;
    background-color: #465FAF;
    height: 500px;
}

#BottomBarTextSoutenir{
    position: absolute;
    top: 2350px;
    left: 13%;
}

#TextBottomBarRejoindre{
    position: absolute;
    top: 2350px;
    left: 47%;
}

#TextBottomBarEvent{
    position: absolute;
    top: 2350px;
    left: 77%;
}

#logo {
    position: absolute;
    left: 10px;
    height: 100px;
}

@font-face {
    font-family: "Pinecone_MVB";
    src: url(Pinecone_MVB.otf);
}

#rubicollect{
    font-family: "Pinecone_MVB";
    color: white;
    font-size: 82px;
    position: absolute;
    left: 650px;
    top:350px;
}

h1{
    font-family: "Pinecone_MVB";
    color: white;
}

p{
    font-family: "Pinecone_MVB";
    color: white;
}

#expli_rubicollect{
    max-width: 800px;
    margin: 0 auto;    
    padding: 20px;     
    text-align: left;    
}

#causes_texte{
    position: absolute;
    left: 425px;
    top:2025px;
}

#text_agir{
    text-align: left;
    margin-left: 25%;
    max-width: 1000px;
}

#img_agir{
    text-align: center;
}

#logo_msf{
    position: absolute;
    left: 425px;
    top:2125px;
}

#logo_sea{
    position: absolute;
    left: 625px;
    top:2125px;
}

#logo_sos{
    position: absolute;
    left: 925px;
    top:2125px;
}

#logo_fondation{
    position: absolute;
    left: 1225px;
    top:2125px;
}

button{
    background-color: #C4DEA8;
    font-family: "Pinecone_MVB";
    color: #465FAF;
}

#DonBottomBar{
    position: absolute;
    top:2750px;
    left:40px;
}